.post_Container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}



@media screen and (max-width: 890px) {
    .post_Container{

        grid-template-columns: repeat(2, 1fr);

    }
}


@media screen and (max-width: 650px) {
    .post_Container{

        grid-template-columns: 1fr;

    }
}