#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.watches_Container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}


@media screen and (max-width: 890px) {
  .watches_Container{

    grid-template-columns: repeat(2, 1fr);

  }
}

@media screen and (max-width: 550px) {
  .watches_Container{

    grid-template-columns: 1fr;

  }
}